<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
    <div class="button-row">
        <app-button [buttonText]="yo"></app-button>
        <app-button></app-button>
        <!-- <button  mat-raised-button matTooltip="Info about the action" color="primary" (click)="onClick('Second Button')">
            Second Button
      </button> -->
        
      <!-- [matTooltipPosition]="top" -->

        <!-- <button mat-button color="accent"  (click)="onClick('First Button')">Accent</button> -->
        <!-- <button mat-button>Basic</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a> -->
    </div>
</div>


